manifest {
    mainScript = 'main.nf'
}

docker {
    enabled = false
}

// default parameters
params {
  output = 'results'
  threads = "4"
  mem = "8"
  assemblies = "/mnt/dessertlocal/projects/transcriptome_assembly/1905_update/treat/test_data/rna-spades.fasta"
  reads = "/mnt/dessertlocal/projects/transcriptome_assembly/1905_update/treat/test_data/eco.fastq" 
  reference = ''
  annotation = ''
  help = false
}

process {
    withName:hisat2 {
        container = 'nanozoo/hisat2:2.1.0--c6f93d9'
    }
}
